

body {font-family: 'Muli', sans-serif;
      background-color: #f4f4f4;
      margin: 0; 
      padding: 0;
     }


.main-div {margin: 0 25%;}

#fesc-logo{ width: 15rem; 
	        height: 6rem; 
	      }




header { background-color: white; 
	     height: 15%; 
	   }

nav { background-color: darkblue;
	  width: 100%; 
	  height: 4rem;
	}

ul li {list-style-type: none; 
	    
	  }

a { color: white;
    text-decoration: none; 
  }

.container { display: flex; 
	         flex-direction: row; 
	         justify-content: space-around;
           }

footer { background-color: #6b6d6f; 
         height: 15%;}


.ul-footer{ display: flex; 
            flex-direction: row}


.second-nav-bar {display: flex; 
	             flex-direction: column;
	             background-color: #6b6d6f; }