html {
  height: 100%; }

body {
  font: "Muli", sans-serif;
  background-color: #f4f4f4;
  padding: 0;
  margin: 0; }

.main-div {
  margin: 0 25%;
  height: 100%;
  background-color: #ffffff; }

#fesc-logo {
  width: 20rem;
  height: 10rem; }

@media screen and (max-width: 1000px) {
  .nav-container {
    padding-bottom: 8rem; } }
@media screen and (max-width: 525px) {
  .nav-container {
    padding-bottom: 15rem; } }
header {
  background-color: #ffffff;
  height: 15%; }

nav {
  background-color: #00008B;
  width: 100%;
  height: 4rem; }
  nav ul {
    height: 4rem; }
  nav a {
    color: #F1F1F1;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    margin: 1px; }

ul li {
  list-style-type: none;
  margin-top: 1.5rem; }

section {
  margin: 0 5%; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .container a:hover {
    color: #000000;
    text-decoration: none;
    background-color: #ffa500;
    border-radius: 5%; }

footer {
  background-color: #00008B;
  height: 15%; }

.ul-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }
  .ul-footer img {
    width: 80px;
    height: 60px; }

.second-nav-bar {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #6b6d6f; }
  .second-nav-bar a {
    color: #f1f1f1;
    text-decoration: none;
    -webkit-transition: font-size 1s;
    transition: font-size 1s; }
  .second-nav-bar a:hover {
    color: #ffa500;
    font-size: 2rem; }
  .second-nav-bar li {
    line-height: 5px; }

#buttonz {
  color: white;
  background-color: #ffa500; }

.photos-videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: wrap;
          flex-direction: wrap; }

#imgs-video {
  width: 100%;
  height: 40rem; }

.share-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.article1 {
  margin-top: 10rem;
  margin-bottom: 10rem; }

iframe.btn {
  padding: 0; }

p {
  margin: 4rem 0; }

tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.stock-images {
  width: 230px;
  height: 184px; }

iframe {
  border: none;
  overflow: hidden; }

/*# sourceMappingURL=new-styles.css.map */