
$font-stack: 'Muli', sans-serif; 
$background-color-gray: #f4f4f4;
$background-color-white: #ffffff;  
$background-color-darkblue: #00008B; 
$font-color-lightgray: #F1F1F1; 
$font-color-black: #000000; 
$background-color-orange: #ffa500; 
$background-color-darkgray: #6b6d6f;

html{ height: 100%;}


body {
    font: $font-stack;
    background-color: $background-color-gray;
    padding: 0;
    margin: 0;
}


.main-div {
         margin: 0 25%;
         height: 100%;
         background-color: $background-color-white;
}

#fesc-logo { 
          width: 20rem; 
	        height: 10rem; 
}

@media screen and (max-width:1000px) {

.nav-container { 
              padding-bottom:8rem;
  }
}

@media screen and (max-width:525px) {
  
.nav-container { 
              padding-bottom:15rem;
  }
}

header { 
      background-color: $background-color-white; 
	    height: 15%; 
}
 

nav { 
   background-color: $background-color-darkblue;
	 width: 100%; 
	 height:4rem;

   ul {
    height: 4rem;
  }	

   a { 
           color: $font-color-lightgray;
           text-decoration: none;
           //padding: .5rem 1rem;
           padding-top: 15px;
           padding-bottom: 5px;
           padding-left: 7px;
           padding-right: 7px;
           margin: 1px; 
    }
  }

ul li {
    list-style-type: none; 
    margin-top: 1.5rem;
     }

section {margin: 0 5%}

.container { 
          display: flex;
	        flex-direction: row;
	        flex-wrap: wrap;
	        justify-content: space-around; 


   a:hover {
           color: $font-color-black;
           text-decoration: none;
           background-color: $background-color-orange;
           border-radius: 5%; 
         }
       }

footer { 
       background-color: $background-color-darkblue; 
       height: 15%;
     }


.ul-footer { 
          display:flex; 
          flex-direction: row; 
          flex-wrap: wrap;
          justify-content: space-evenly;
     
       img {
              width: 80px; 
              height: 60px;
          }
        }

.second-nav-bar {
               padding: 1rem;
               display: flex; 
	             flex-direction: column;
	             background-color: $background-color-darkgray;


             a { 
                     color: rgb(241,241,241);
                     text-decoration: none;
                     transition: font-size 1s; 
              }

             a:hover {
                color: $background-color-orange; 
                font-size: 2rem;
              }         

            li { 
               line-height: 5px;
              }                      
            }

#buttonz { 
        color: white;
        background-color: $background-color-orange;
}  



.photos-videos {
              display:flex;
              flex-direction: wrap;
}    


#imgs-video { 
           width: 100%; 
           height: 40rem;
}                          

.share-buttons {
              display:flex;
              justify-content: center
}


.article1 {
         margin-top: 10rem; 
         margin-bottom: 10rem
}

 iframe.btn { padding: 0}


p { margin: 4rem 0 }


tr {
   display: flex;  
   flex-flow: row wrap; 
   justify-content: center;
}

.stock-images { 
             width: 230px; 
             height: 184px 
}
                 
